@charset "utf-8";
.submanu {
	font-family: "굴림", "돋움";
	font-size: 14px;
	background-color: #FFF;
	margin: auto;
	color: #666;
	font-weight: normal;
}
a:link {
	font-family: "굴림", "돋움";
	font-size: 14px;
	text-decoration: none;
	color: #666;
}

a:hover {
	font-family: "굴림", "돋움";
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	background-color: #F60;
	font-weight: bold;
}
